<!DOCTYPE html>
<html>
<head>
	<title>KittenKamp</title>
  	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  	<link rel="shortcut icon" href="/img/kitten.ico" type="image/vnd.microsoft.icon">
</head>
<body>
	
	<header>
 		<h1>Welcome to KittenKamp!</h1>
		<a href="/campgrounds" class="btn btn-sm btn-info">View All Campgrounds</a>
    </header>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>